name: pcu
on:
  push:
    branches: [main]
  schedule:
    - cron: "0 12 * * *"
jobs:
  refreshDeps:
    runs-on: ubuntu-latest
    steps:
      - uses: zehengl/refresh-python-dependency@v0.1.2
        with:
          path: requirements-dev.txt
